---
language: cpp
compiler: gcc
cache:
  ccache: true
  directories:
  - "$HOME/cmake-3.9.2-Linux-x86_64/bin"
  - "$HOME/cmake-3.9.2-Linux-x86_64/share"
dist: trusty
sudo: false
addons:
  apt:
    packages:
    - doxygen
    - graphviz
env:
  global:
  - secure: SLJCjkjDsTMbCIV9Wecz5JATnhk0fuzlnLMeZdvvFDv+8NL8cXyutkU0VfyRSLf3HSD1Js79a6fRMROyVGWj/w/BRrjqGnZzsB6+ZeJNnadiVIF5Gh+w90We5ccvSp2G4DyYgwkNnkKlJK7zNEWGu/K+bHL1EOCA+EIVrFMyA44=
  - secure: ecj/PwpbHkH9AYFsc2TMeRuNm5E3xMM8A0x4AcGhzpwDuZWdFx3R1T4G9u45Z5aUyTJWGqOeX1JPaEVVFZuYnNBKRy0kmiUrM9EE0j7WsT57K48tP1ysn2ynyvHgbYkKOfYR0t8XAMWTBbulT9DVVk3DS69//2WgiXGDVUEJTyI=
  - numjobs=2
  - WEB=1
  - EMSCRIPTEN_SHARE_DATA=1
  - USE_CCACHE=1
  - CCACHE_SLOPPINESS=pch_defines,time_macros
  - CCACHE_COMPRESS=1
  - CCACHE_MAXSIZE=100M
  - HOT=/home/travis/.ccache/.hot
  - BRANCH=master
  matrix:
  - URHO3D_LIB_TYPE=MODULE EMSCRIPTEN_WASM=0 numjobs=4
  - URHO3D_LIB_TYPE=STATIC EMSCRIPTEN_WASM=0
  - URHO3D_LIB_TYPE=SHARED EMSCRIPTEN_WASM=0
  - URHO3D_LIB_TYPE=STATIC BRANCH=incoming
  - URHO3D_LIB_TYPE=SHARED BRANCH=incoming
stage: release build configuration
before_script:
- rake ci_timer
- export TRAVIS_COMMIT=$TRAVIS_COMMIT~
- export COMMIT_MESSAGE=$(git log --format=%B -n 1 $TRAVIS_COMMIT)
- export TAG=$(git describe --exact-match $TRAVIS_COMMIT 2>/dev/null); if [[ $TAG
  =~ [[:digit:]]+\.[[:digit:]]+ ]]; then export RELEASE_TAG=$TAG; fi
- if [[ $RELEASE_TAG ]] || (! [[ $TRAVIS_BRANCH =~ [^-]+-[^-]+-CI ]] && echo $COMMIT_MESSAGE
  |grep -cq '\[ci package\]'); then export PACKAGE_UPLOAD=1; fi
- if [[ "$URHO3D_LIB_TYPE" != "MODULE" ]] && (echo $COMMIT_MESSAGE |grep -cq '\[cache
  clear\]' || [[ ! -e $HOT ]]); then export URHO3D_SAMPLES=0; fi; touch $HOT
- if [[ ! $EMSCRIPTEN_WASM ]]; then export BINARYEN=binaryen-master-64bit; fi
- git clone --depth 1 --branch $BRANCH https://github.com/urho3d/emscripten-sdk.git
  && emscripten-sdk/emsdk activate --build=Release sdk-${BRANCH}-64bit $BINARYEN &&
  source emscripten-sdk/emsdk_env.sh
- for compiler in $EMSCRIPTEN/{emcc,em++}; do touch -d "2017-01-01 00:00:00 +0800"
  $compiler; done
- if [[ ! -f $HOME/cmake-3.9.2-Linux-x86_64/bin/cmake ]]; then wget --no-check-certificate
  https://cmake.org/files/v3.9/cmake-3.9.2-Linux-x86_64.tar.gz -O $HOME/cmake.tar.gz
  && tar xf $HOME/cmake.tar.gz -C $HOME && rm $HOME/cmake.tar.gz; fi
- export PATH=$HOME/cmake-3.9.2-Linux-x86_64/bin:$PATH
- rake ci_setup_cache
script: rake ci && if [ $PACKAGE_UPLOAD ]; then rake ci_package_upload; fi && if [[
  "$TRAVIS_BRANCH" == "Web-CI" ]] && [[ ! $EMSCRIPTEN_WASM ]] && [[ "$TRAVIS_PULL_REQUEST"
  == "false" ]] && [[ "$URHO3D_LIB_TYPE" == "SHARED" ]] && [[ ! $URHO3D_SAMPLES ]];
  then rake ci_emscripten_samples_update; fi && rake ci_timer
after_script: rake ci_teardown_cache
matrix:
  fast_finish: true
  include:
  - stage: housekeep
    addons: 
    before_script: export TAG=$(git describe --exact-match $TRAVIS_COMMIT~ 2>/dev/null);
      if [[ $TAG =~ [[:digit:]]+\.[[:digit:]]+ ]]; then export RELEASE_TAG=$TAG; fi
    after_script: 
    cache: 
    env: 
    script: rake ci_delete_mirror
notifications:
  email:
    on_success: never
    on_failure: change
    recipients:
    - superwangkai@gmail.com
    - weitjong@gmail.com
